streamlit==1.26.0
huggingface-hub>=0.11.1
tensorflow-cpu==2.10.0  # Versão específica com melhor compatibilidade
numpy==1.23.5  # Versão testada com TF 2.10
Pillow==9.5.0  # Versão compatível com Streamlit
protobuf==3.20.3
